.mainContainer{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  .overlayContainer{
    position:relative;
    height: 380px;
    background-color:#fff;


    .overlay{
      max-width:1060px;
      margin: 0 auto;
      height:100%;

      .row{
        margin-right: -20px;
        height:100%;

        &::after{
          content: '';
          display: block;
          clear:both;
        }
  
        .category{
          float:left;
          width:16.666%;
          height:270px;
          padding:40px 20px 0 0;
  
          .text{
            text-decoration: none;
            h2{
              position:relative;
              font-size:17px;
              color:#333;
              line-height:20px;
              padding-bottom:15px;
              width:100%;
              text-overflow: ellipsis;
              white-space:nowrap;
              overflow:hidden;
  
            }
            i{
              float:right;
              color:rgba(184, 184, 184, 0.719);
            }
  
            h3{
              position:relative;
              font-size: 13px;
              color:#999;
              padding: 5px 20px 5px 0;
              width: 100%;
              text-overflow:ellipsis;
              white-space:nowrap;
              overflow:hidden;
            }
          }
        }
      }
    }
  }
}

#db {
  transition: all 0.3s;
}
#bd {
  transition: all 0s;
}